{% extends 'base.html' %}
{% block content %}

<div class="flex justify-center">

  <div class="w-full md:w-[800px] p-2" >
    <div class=" mb-4 flex justify-end items-center space-x-1 mt-6">
      <span class="text-lg font-semibold">Time Remaining: </span>
      <span id="timer" class="text-lg font-bold text-red-600">{{ tes.time }}</span> <span class="text-sm font-semibold">secs</span>
    
    </div>

    <form id="tes-form" method="POST" action="{% url 'sains_submit' tes.pk %}">
      {% csrf_token %}
      <div class="text-2xl text-center font-semibold my-4">{{ tes.name }}</div>
      <div class="">
        {% for question in questions %}
          <div class=" border shadow mb-4 ">
            <div class="py-2 bg-blue-100 mb-2">
              <h3 class="text-xl ml-8  font-semibold ">{{ question.title }}</h3>

            </div>
            <div class="ml-8 flex flex-col gap-2 mb-3">
              <label><input type="radio" name="question_{{ question.id }}" value="{{ question.option_a }}"> {{ question.option_a }}</label>
              <label><input type="radio" name="question_{{ question.id }}" value="{{ question.option_b }}"> {{ question.option_b }}</label>
              <label><input type="radio" name="question_{{ question.id }}" value="{{ question.option_c }}"> {{ question.option_c }}</label>
  
            </div>
          </div>
        {% endfor %}


      </div>
      <div class="flex justify-between">
        <a href="{% url 'sains_detail' tes.pk %}"  class="border border-slate-700 text-sm font-semibold px-2 py-1 rounded-sm text-slate-700 hover:bg-slate-700 hover:text-white">back</a>
        <button type="submit" class="border border-blue-600 text-sm font-semibold px-2 py-1 rounded-sm text-blue-600 hover:bg-blue-600 hover:text-white">Submit</button>

      </div>
    </form>

  </div>

  

</div>


<!-- JavaScript for Timer and Auto-Submit -->
<script>
  // Get the tes time from the server (in seconds)
  var timeRemaining = {{ tes.time }};
  
  // Update the countdown timer every second
  var timerElement = document.getElementById('timer');
  var countdownInterval = setInterval(function() {
    // Decrease the time remaining
    timeRemaining--;

    // Update the timer display
    timerElement.textContent = timeRemaining;

    // If time runs out, submit the form automatically
    if (timeRemaining <= 0) {
      clearInterval(countdownInterval); // Stop the timer
      document.getElementById('tes-form').submit(); // Auto-submit the form
    }
  }, 1000); // 1000 milliseconds = 1 second
</script>
{% endblock %}
